apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
spec:
  selector:
    app: {{ .Values.appName }}
  ports:
    - port: 80 # TODO should be exposeImagePort?

#apiVersion: v1 # TODO use below one thi is test
#kind: Service
#metadata:
#  name: {{ .Values.service.name }}
#spec:
#  selector:
#    app: {{ .Values.appName }}
#  ports:
#    - protocol: TCP
#      port: 80
#      targetPort: 80
#      nodePort: {{ .Values.service.nodePort }}
#  type: NodePort
